<form [formGroup]="fileUploadForm" (ngSubmit)="onSubmit()">
  <div class="upload-container">
    <label for="fileInput">Upload a file:&nbsp; &nbsp;</label>
    <input
      type="file"
      id="fileInput"
      (change)="onFileSelected($event)"
      [disabled]="fileUploadForm.get('file')?.disabled"
    />
    <div *ngIf="fileSizeError" class="error">
      File size must not exceed 10 MB.
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!fileUploadForm.valid || fileSizeError">
    Upload
  </button>
</form>

<h4>{{ responseMessage }}</h4>
