.file-upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* Responsive adjustments */
  @media (max-width: 750px) {
    .dynamic-table {
      width: 100%;
    }
  }

  @media (min-width: 751px) {
    .dynamic-table {
      width: 70%;
    }
  }

  .form {
    .upload-container {
      margin-bottom: .7rem;
    }
  }
}
