<table class="table table-bordered table-striped table-hover">
  <thead class="table-primary">
    <tr *ngIf="columns.length">
      <ng-container *ngFor="let column of columns">
        <th scope="col">{{column}}</th>
       </ng-container>
       <th scope="col" *ngIf="tableAction?.actionName">Actions</th>
    </tr>
  </thead>
  <tbody *ngIf="tableData.length">
    <tr *ngFor="let user of tableData">
      <ng-container *ngFor="let column of columns">
        <td>{{ user[column] }}</td>
      </ng-container>
      <td>
        <button type="button" class="btn btn-danger btn-sm" (click)="delete(user)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>