<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover">
    <thead class="table-primary">
      <tr>
        <th scope="col">Image</th>
        <th scope="col">File Path</th>
        <th scope="col">Type</th>
        <th scope="col">Size</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let file of files">
        <td class="image-cell">
          <img [src]="file.imageUrl" alt="File Image" class="table-image" />
        </td>
        <td>{{ file.storedPath }}</td>
        <td>{{ file.type }}</td>
        <td>{{ file.size }}</td>
        <td>
          <button type="button" class="btn btn-danger btn-sm" (click)="deleteFile(file)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
