<div class="row">
  <div class="center">

    <form #authForm="ngForm">
      <div class="form-group mb-2">
        <label for="email">Email</label>
        <input
          type="text"
          id="userName"
          class="form-control"
          ngModel
          name="userName"
        />
      </div>

      <div class="form-group mb-2">
        <label for="password">Enter Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          ngModel
          name="password"
        />
      </div>

      <div>
        <button class="btn btn-primary" type="submit">
          signUp
            <!-- {{ isSignUpMode ? 'Sign Up' : 'Login' }} -->
        </button> |
        <button class="btn btn-primary" type="button">
            <!-- Switch to {{ isSignUpMode ? 'Login' : 'Sign Up' }} -->
             Login
        </button>
    </div>
    </form>

  </div>
</div>
